# Contents of data/ directory
/data/

# Contents of the misc/directory
/misc/

# .vscode directory
/.vscode

# Python cache
**/__pycache__/*

# Nextcloud sync files
.owncloudsync.log
.sync_829705d76131.db
.sync_829705d76131.db-shm
.sync_829705d76131.db-wal

# Testing files
test.ipynb
test.py

# File with unused or old functions
plotting/module_dump.py

# Figures
plotting/Figures/

